<mat-card>
  <form [formGroup]="changePassword" (ngSubmit)="changeUserPass()">
    <mat-form-field>
      <mat-label> Old Password</mat-label>

      <input
        matInput
        formControlName="oldPassword"
        placeholder="your Old Password Here"
        required
      />
      <mat-error *ngIf="changePassword.get('oldPassword').invalid"
        >Please enter Your Old Password</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label> New Password</mat-label>

      <input
        matInput
        formControlName="newPassword"
        placeholder="your New Password Here"
        required
      />
      <mat-error *ngIf="changePassword.get('newPassword').invalid"
        >Please enter Your New Password</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm New Password</mat-label>

      <input
        matInput
        formControlName="confirmPassword"
        placeholder="your confirm Password Here"
        required
      />
      <mat-error *ngIf="changePassword.get('confirmPassword').invalid"
        >Please Re-enter Your New Password</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent">Change Password</button>
  </form>
</mat-card>
