<p class="info-text mat-body-1">
  Health Maddy Is A demo Project Made by <strong>Raunak Srivastava</strong> this
  is purely for demonstration purpose, it is basically a
  <strong>MEAN </strong> stack project to show not all but a fresher level
  knowledge of a mean stack developer like :
  <strong>how to connect frontend to backend ?</strong> <br />
  <strong
    >how to authenticate and authorise users on both fron end and backend
    ?</strong
  >
  <br />
  <strong>how to add security to the backend ?</strong> <br />
  <strong>basically how a full mean stack application works ?</strong>
</p>
