<div class="container">
  <div class="slider">
    <div class="slide slide1">
      <div class="caption">
        <h2 mat-body-1>slide 1</h2>
        <p mat-body-1>some text para 1</p>
      </div>
    </div>

    <div class="slide slide2">
      <div class="caption">
        <h2 mat-body-1>slide 2</h2>
        <p mat-body-1>some text para 2</p>
      </div>
    </div>

    <div class="slide slide3">
      <div class="caption">
        <h2 mat-body-1>slide 3</h2>
        <p mat-body-1>some text para 3</p>
      </div>
    </div>

    <div class="slide slide4">
      <div class="caption">
        <h2 mat-body-1>slide 4</h2>
        <p mat-body-1>some text para 4</p>
      </div>
    </div>

    <div class="slide slide1">
      <div class="caption">
        <h2 mat-body-1>slide 1</h2>
        <p mat-body-1>some text para 1</p>
      </div>
    </div>
  </div>
</div>
