<mat-toolbar color="primary">
  <span> <a routerLink="/"> FREAKY LABZz.com </a> </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/user-login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/user-signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogOut()">Log Out</button>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
