<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>FREAKY LABZz.com </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/AboutUs">About Us</a><br />
     
          <a href="http://fb.me/freakylabzznutrition"
            ><i class="fa fa-facebook-official" aria-hidden="true"></i
          ></a>
      
          <a href="http://www.instagram.com/freakylabzz"
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
      

      <span><span>&copy;</span>Copyright | FREAKY LABZz.com 2020 </span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
