input[type="file"] {
  visibility: hidden;
}
mat-form-field {
  width: 100%;
}
mat-card {
  width: 60%;
  margin: 10% auto;
}
.image-preview {
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}

ul {
  list-style: none;
}
li {
  color: white;
}
span {
  text-align: center;
}
