<mat-card>
  <mat-horizontal-stepper>
    <mat-step [stepControl]="currentEmail">
      <form [formGroup]="currentEmail" (ngSubmit)="submitEmail()">
        <ng-template matStepLabel>please enter your email address</ng-template>
        <mat-form-field>
          <mat-label>please enter your current email</mat-label>
          <input
            matInput
            placeholder="example@email.com"
            formControlName="userCurrentEmail"
            required
          />
          <mat-error *ngIf="currentEmail.get('userCurrentEmail').invalid"
            >Please enter Your Current Email Address</mat-error
          >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>
            next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="newPassReset">
      <form [formGroup]="newPassReset" (ngSubmit)="submitPass()">
        <ng-template matStepLabel>enter your new password</ng-template>

        <mat-form-field
          ><mat-label>new password</mat-label>
          <input matInput formControlName="newPasswords" required />
          <mat-error *ngIf="newPassReset.get('newPasswords').invalid"
            >Please enter Your New Password</mat-error
          ></mat-form-field
        >

        <mat-form-field
          ><mat-label> confirm password</mat-label>
          <input matInput formControlName="confirmPassword" required />
          <mat-error *ngIf="newPassReset.get('confirmPassword').invalid"
            >Please Re-enter Your New Password</mat-error
          ></mat-form-field
        >

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Done</ng-template>

      <p>You have successfully reset your password</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
